body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

header p {
    text-align: center;
    margin: 10px 0;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#content {
    flex: 1;
    padding: 20px;
}

.center-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

df-messenger {
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 350px;
}
