.App {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  .content-paper {
    padding: 20px;
    margin-top: 20px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .center-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
  }
  